body{
	font-family:Arial, Helvetica, sans-serif;
	}

nav {
	float:right;
    padding:20px 0px 20px 0px;
    background-color:#c2263b;
    color:#ffffff;
    width:80%;	
	}

nav li{
	display:inline;
	}

nav li a{	
	text-decoration:none;
    padding: 20px 20px 20px 20px;	
    color:white;
    font-size:13pt;	
	}
   
nav li a:hover{
	background-color:red;	
	font-weight:bold;
	}

section{
	float:left;
	width: 80%;
	background-color:#e4ebed;
	border-radius:15px;
	text-align:center;
	padding: 50px 0px 50px 0px;
	margin:30px 10% 30px 10%;
	}

#logo img{
	width:20%;
	height:61px;
	float:left;
	}

#gemeentehuis img{	
	width:100%;
	margin:1% 0% 1% 0%;	
	}
	
footer{
	text-align:center;
}
	


